
@{
    ViewBag.Title = "Hbjs";
}

<title>Handlebar Js</title>
<script type="text/x-handlebars-template" id="hbTemplate">

    {{#each EmployeeInfo}}
    <div class="handlebarDiv">
        <b>Employee Id</b>:{{EmpId}}<br />
        <b>Name</b>:{{Name}}<br />
        <b>E-mail</b>:{{Email}}<br />
       <div>
           <b>New Template</b>
           {{>managers}}
       </div>
    </div>
    {{/each}}

</script>
<script type="text/x-handlebars-template" id="partialTemplate">
    
    <table>
        <tr>
            <td>Employee Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Salary Per Day</td>
            <td>Weight</td>
            <td>Age</td>
        </tr>
        {{#EmployeeInfo5}}
        <tr>
            <td>{{EmpId}}</td>
            <td>{{FirstName}}</td>
            <td>{{LastName}}</td>
            <td>{{SalaryPerDay}}</td>
            <td>{{Weight}}</td>
            <td>{{Age}}</td>
        </tr>
        {{/EmployeeInfo5}}

    </table>

</script>

<script type="text/javascript">
    $(function() {
        var empTemplate = $("#hbTemplate").html();
        var sourceHtml = Handlebars.compile(empTemplate);
        Handlebars.registerPartial('managers', $("#partialTemplate").html());
        $.post("/First/HbJsController", "", function (data) {
            $("#handlebarDiv").html(sourceHtml(data));
        }, "json");
    });
</script>
<style>
    .handlebarDiv {
        display: block;
        float: left;
        padding: 5px;
        margin: 5px;
        border: 1px solid blueviolet;
        border-radius: 10px;

    }
</style>
<div id="handlebarDiv">

</div>