@model IEnumerable<Employee180220.Models.EmployeeInfo>
@{
    Layout = null;
}


<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<script>
    
        $('#eemployeeTab').unbind().click(function () {
            employeeTabContent();
            //$(this).unbind();
        });
        $('#aaddTab').unbind().click(function () {
            addTabContent();
            //$(this).unbind();
        });
        $('#eeditTab').unbind().click(function () {
            editTabContent();
            //$(this).unbind();
        });
        $('#ddeleteTab').unbind().click(function () {
            deleteTabContent();
            //$(this).unbind();
        });

    var employeeTabContent = function () {
        $('#tabContent').load('/Employee/Employee');
    }
    var addTabContent = function () {
        $('#tabContent').load('/Employee/AddOrEdit');
    }
    var editTabContent = function () {
        $('#tabContent').load('/Employee/EditEmployee');
    }
    var deleteTabContent = function () {
        $('#tabContent').load('/Employee/DeleteEmployee');
    }
</script>


<style>
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    #mainContentDashboard.mainContentDashboard {
        position: fixed;
        height: 700px;
        width: 90%;
        float: left;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        color: #000000;
        left: 13%;
        top: 12%;
    }
    /*.table-bordered {
        position: fixed;
        display: inline-block;
        top: 15%;
        right: 5%;
        left: 15%;

    }
    #firstcard.panel-heading {
        position: absolute;
        display: inline-block;
        float: left;
        width: 500px;
        left: 3%;
        top: 10%;
    }*/
    ul.nav.nav-tabs {
        position: fixed;
        top: 20%;
        margin: 10px 0px;
    }

        ul.nav.nav-tabs li:not(.active) a {
            border-color: #eeeeee;
            color: gray;
        }

        ul.nav.nav-tabs li.active a {
            border-top: 3px solid #16a765
        }

    #tabContent.tab-content {
        position: absolute;
        overflow: scroll;
        height: 500px;
        width: 97%;

        top: 20%;
    }

    #mainTab.mainTabClass {
        position: absolute;
        top: 40%;
        display: inline-block;
    }
    /*#employeeTab.tab-pane {
        position: fixed;
        height: 300px;
        top: 30%;
    }*/
</style>

<div id="mainContentDashboard" class="mainContentDashboard">

    <h1>Dashboard</h1>


    <ul id="nav1" class="nav nav-tabs">
        <li><a data-toggle="tab" id="eemployeeTab">Employee</a></li>
        <li><a data-toggle="tab" id="aaddTab">Add</a></li>
        <li><a data-toggle="tab" id="eeditTab">Edit</a></li>
        <li><a data-toggle="tab" id="ddeleteTab">Delete</a></li>
    </ul>

    <div id="tabContent" class="tab-content">

        <div id="employeeTab" class="tab-pane fade in">

        </div>

        <div id="addTab" class="tab-pane fade in">

        </div>

        <div id="editTab" class="tab-pane fade in">
            Employee can be edited
        </div>

        <div id="deleteTab" class="tab-pane fade in">
            Delete Employee will work here
        </div>

    </div>

</div>