
@{
    Layout = null;
}

    <meta name="viewport" content="width=device-width" />
    <title>DeleteEmployee</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Scripts.js"></script>

jkjkjk