

@model IEnumerable<Employee180220.Models.EmployeeInfo>
@{
    Layout = null;
}
<script>
    //$("#tableSearch").on("keyup", function() {
    //    var value = $(this).val().toLowerCase();
    //    $("#employeeTable tr").filter(function() {
    //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //    });
    //});


    $('#button2').unbind().click(function () {
        console.log('Button clicked');
        AddEmployee();

    });
    var AddEmployee = function () {

        $('#main').load('/Employee/AddOrEdit');
    }

    $('#Search').unbind().keyup(function () {
        console.log('Search Button clicked');
        SearchEmployee();     
    });
    $('#FilterBy').unbind().change(function () {
        console.log('Filter clicked');
        SearchEmployee();
    });
    var SearchEmployee = function() {
        var searchText = $("#Search").val();
        var filterBy = $("#FilterBy").val();
        
        var data = $("#TableSrch");
        data.html("");

        $.ajax({
            url: '/Employee/SearchFunc?SearchText=' + searchText + "&FilterBy=" + filterBy,

            type: 'POST',
            contentType: 'html',
            error: function(xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function(result) {
                if (result.length == 0) {
                    $.notify("Data not exists!");
                } else {
                    $.notify("Data Found!", "success");
                    $.each(result,
                        function(index, value) {
                            var tableData = "<tr>" +
                                "<td>" +
                                value.EmployeeId +
                                "</td>" +
                                "<td>" +
                                value.Name +
                                "</td>" +
                                "<td>" +
                                value.Age +
                                "</td>" +
                                "<td>" +
                                value.Office +
                                "</td>" +
                                "<td>" +
                                value.Position +
                                "</td>" +
                                "<td>" +
                                value.Salary +
                                "</td>" +
                                "<td>" +
                                value.IsCurrentEmployee +
                                "</td>" +
                                "</tr>";
                            data.append(tableData);
                        });
                }

            },
            async: true,
            processData: false
            
    });
    }
    console.log("function fired");
    $(function() {
        var empTemplate = $("#hbTemplate").html();
        var sourceHtml = Handlebars.compile(empTemplate);
        $.post("@Url.Action("HbJs")", "", function(data) {
            $("#employeeData").html(sourceHtml(data));
        },"json");
    });
    $.notify("Handlebar Js!", "success");


</script>
<style>
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    .btnButton1 {
        position: fixed;
        float: right;
        top: 13%;
        right: 1%;
    }

    #employeeData.employeeData {
        position: absolute;
        
        height: 310px;
        width: 97%;
        
    }

    #Search.form-control {
        position: absolute;
        width: 50%;
    }
    #empTb.empTb {
        background: black;
        color: white;
        text-align: center;
    }
</style>
<meta name="viewport" content="width=device-width" />

<title>Employee</title>

<h2>Employees Information</h2>
<div id="button2" class="btnButton1">
    <button type="submit" class="btn btn-success"><i class="material-icons">person_add</i>Add Employee</button>
</div>

<b>Filter By : </b>
<select id="FilterBy">
    <option value="">Select</option>
    <option value="True">True</option>
    <option value="False">False</option>
</select><br /><br />

<input class="form-control" type="text" placeholder="Search" aria-label="Search" id="Search"><br /><br />
<div id="employeeData" class="employeeData">


    <script type="text/x-handlebars-template" id="hbTemplate">

       <table class="table table-bordered" id="employeeTable">
           <thead id="empTb" class="empTb">
               <tr>
                   <td>Employee Id</td>
                   <td>Name</td>
                   <td>Age</td>
                   <td>Office</td>
                   <td>Position</td>
                   <td>Salary</td>
                   <td>Employee Status</td>
               </tr>
           </thead>
           <tbody>
               {{#EmployeeInfoes}}
               <tr>
                   <td>{{EmployeeId}}</td>
                   <td>{{Name}}</td>
                   <td>{{Age}}</td>
                   <td>{{Office}}</td>
                   <td>{{Position}}</td>
                   <td>{{Salary}}</td>
                   <td>{{IsCurrentEmployee}}</td>
               </tr>
               {{/EmployeeInfoes}}
           </tbody>

       </table>

   </script>
</div>