
@{
    ViewBag.Title = "EmployeeHBJS";
}

<style>
    #empTb.empTb {
        background: black;
        color: white;
        text-align: center;
    }
</style>   

<script type="text/x-handlebars-template" id="hbTemplate">

    <table class="table table-bordered">
        <thead id="empTb" class="empTb">
            <tr>
                <td>Employee Id</td>
                <td>First Name</td>
                <td>LastName</td>
                <td>Salary Per Day</td>
                <td>Weight</td>
                <td>Age</td>
                <td>TotalSalary</td>
                <td>Conditions</td>
                <td>Loop</td>
            </tr>
        </thead>

        {{#EmployeeInfo5}}
        
    <tr>

        <td>{{EmpId}}</td>
        <td>{{FirstName}}</td>
        <td>{{LastName}}</td>
        <td>{{SalaryPerDay}}</td>
        <td>{{Weight}}</td>
        <td>{{Age}}</td>
        <td>{{Calculate SalaryPerDay "10"}}</td>
        <td>
            {{#if FirstName LastName}}
            {{/if}}
        </td>
        
        <td>

            {{#for}}
            
            {{/for}}

        </td>
        
    </tr>
        
        {{/EmployeeInfo5}}

    </table>
        
    </script>


<h2>Employees Info With Handlebar JS</h2>

<script type="text/javascript">
    console.log("Script fired");
    Handlebars.registerHelper('UpperCase', function(aString) {
        console.log("UpperCase fired");
        return aString.toUpperCase();
    });
    Handlebars.registerHelper("Calculate", function (a, b) {
        console.log("Calculate fired");
        var c = a * b;
        return c;
    });
    Handlebars.registerHelper("if", function (a,b) {
        console.log("If fired");
        var c;
        if (a !== b) {
            c = "Red";
        } else {
            c = "Green";
        }
        return c;
    });
    Handlebars.registerHelper("for", function () {
        console.log("For fired");
        var c;
        for (c = 0; c < 5; c++) {
            var b = cast;
            
        }
        return b;
    });
    var cast = {
        "Name": "John Hopkins",
        "PetName": "Doe"
    };
    $(function () {
        var empTemplate = $("#hbTemplate").html();
        var sourceHtml = Handlebars.compile(empTemplate);
        $.post("/Home/HbJs", "", function (data) {
            $("#hBDiv").html(sourceHtml(data));
            //$("#loop").html(sourceHtml(cast));
        }, "json");

});
$.notify("Handlebar Js!", "success");
</script>
<div id="hBDiv">

</div>