@{
    ViewBag.Title = "EmployeeHBJS";
}
@using PagedList.Mvc
@model PagedList.IPagedList<EmployeeHBJS.Models.EmployeeInfo5>
<style>
    #empTb.empTb {
        background: black;
        color: white;
        text-align: center;
    }
</style>

<script type="text/x-handlebars-template" id="hbTemplate">

    <table class="table table-bordered">
        <thead id="empTb" class="empTb">
            <tr>
                <td>Employee Id</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Salary Per Day</td>
                <td>Weight</td>
                <td>Age</td>
                <td>Total Salary</td>
                <td>Conditions</td>
                <td>Loop</td>
            </tr>
        </thead>

        @*{{#EmployeeInfo5}}*@

        {{#each EmployeeInfo5}}
        <tr>

            <td>{{EmpId}}</td>
            <td>{{FirstName}}</td>
            <td>{{LastName}}</td>
            <td>{{SalaryPerDay}}</td>
            <td>{{Weight}}</td>
            <td>{{Age}}</td>
            <td>{{Calculate SalaryPerDay "10"}}</td>
            <td>
                {{#if FirstName LastName}}
                {{/if}}
            </td>
        </tr>

        {{/each}}

        @*{{/EmployeeInfo5}}*@

    </table>

</script>


<h2>Employees Info With Handlebar JS</h2>

<script type="text/javascript">
    console.log("Script fired");
    Handlebars.registerHelper('UpperCase', function (aString) {
        console.log("UpperCase fired");
        return aString.toUpperCase();
    });
    Handlebars.registerHelper("Calculate", function (a, b) {
        console.log("Calculate fired");
        var c = a * b;
        return c;
    });
    Handlebars.registerHelper("if", function (a, b) {
        console.log("If fired");
        var c;
        if (a !== b) {
            c = "Red";
        } else {
            c = "Green";
        }
        return c;
    });
    var cast = (function () {
        var b = "loop";

    });
    Handlebars.registerHelper("for", function () {
        console.log("For fired");

        var c;
        for (c = 0; c < 5; c++) {
            cast();

        }
        return cast();
    });

    $(function () {

        var empTemplate = $("#hbTemplate").html();
        var sourceHtml = Handlebars.compile(empTemplate);
        @*$.post("/Home/HbJs", "", function (data) {
            $("#hBDiv").html(sourceHtml(data));
            @Html.PagedListPager(Model, i => Url.Action("EmployeeHBJS", "Home", new { i }));
            //$("#loop").html(sourceHtml(cast));
        }, "json");*@
        var requestData = {
            EmpId: $('EmpId').val(),
            FirstName: $('FirstName').val(),
            LastName: $('LastName').val(),
            SalaryPerDay: $('SalaryPerDay').val(),
            Weight: $('Weight').val(),
            Age: $('Age').val(),
            pageNo: $('pageNo').val()
        };
        $.ajax({
            url: '/Home/HbJs',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (data) {
                ////$.notify("Successfull!", "success");

                $("#hBDiv").html(sourceHtml(data));
                console.log(data);

            },
            async: true,
            processData: false
        });
    });
    $.notify("Handlebar Js!", "success");
</script>
<div id="hBDiv">

</div>