@model PagedList.IPagedList<EmployeeHBJS.Models.EmployeeInfo5>
@{
    ViewBag.Title = "EmployeeHBJS";
}
@using EmployeeHBJS.Controllers
@using PagedList.Mvc

<style>
    #empTb.empTb {
        background: black;
        color: white;
        text-align: center;
    }
</style>

<script type="text/x-handlebars-template" id="handlebarTemplate">
    <br />
    <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="Search">
    <br />

    <table class="table table-bordered">
        <thead id="empTb" class="empTb">
            <tr>
                <td>Employee Id</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Salary Per Day</td>
                <td>Weight</td>
                <td>Age</td>
                <td>Total Salary</td>
                <td>Conditions</td>
                <td>Loop</td>
            </tr>
        </thead>

        @*{{#EmployeeInfo5}}*@

            {{#each EmployeeInfo5}}
            <tbody id="myTable">
                <tr>

                    <td>{{EmpId}}</td>
                    <td>{{FirstName}}</td>
                    <td>{{LastName}}</td>
                    <td>{{SalaryPerDay}}</td>
                    <td>{{Weight}}</td>
                    <td>{{Age}}</td>
                    <td>{{Calculate SalaryPerDay "10"}}</td>
                    <td>
                        {{#if FirstName LastName}}
                        {{/if}}
                    </td>
                </tr>
            </tbody>
            {{/each}}

        @*{{/EmployeeInfo5}}*@

    </table>

</script>


<h2>Employees Info With Handlebar JS</h2>

<script type="text/javascript">
    console.log("Script fired");
    $.notify("Handlebar Js!","success");
    $(document).ready(function() {
        $("#Search").on("keyup",
            function() {
                var value = $(this).val().toLowerCase();
                $("#TableSearch tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
    });
    Handlebars.registerHelper('UpperCase',
        function (aString) {
            console.log("UpperCase fired");
            return aString.toUpperCase();
        });
    Handlebars.registerHelper("Calculate",
        function (a, b) {
            console.log("Calculate fired");
            var c = a * b;
            return c;
        });
    Handlebars.registerHelper("if",
        function (a, b) {
            console.log("If fired");
            var c;
            if (a !== b) {
                c = "Red";
            } else {
                c = "Green";
            }
            return c;
        });
    var cast = (function () {
        var b = "loop";

    });
    Handlebars.registerHelper("for",
        function () {
            console.log("For fired");

            var c;
            for (c = 0; c < 5; c++) {
                cast();

            }
            return cast();
        });
    //Handlebars.registerHelper("paging", function (a) {
    //    console.log("paging fired");
    //    var c=PagedListPager(a,i=>)
    //    return cast();
    //});
    var requestData = {
        pageNo: $('pageNo').val(),
        EmpId: $('EmpId').val(),
        FirstName: $('FirstName').val(),
        LastName: $('LastName').val(),
        SalaryPerDay: $('SalaryPerDay').val(),
        Weight: $('Weight').val(),
        Age: $('Age').val()

    };

    $(function () {
        var template = $("#handlebarTemplate").html();
        var sourceHtml = Handlebars.compile(template);
        $.ajax({
            url: '/Home/HbJs',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $("#handlebar").html(sourceHtml(data));
                console.log(data);
            },
            error: function () {
                alert("Error occured!");
            }
        });
    });

    var ajaxCall = function (pageNo) {
        $.ajax({
            url: '/Home/HbJs?pageNo=' + pageNo,
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                console.log("AJAX fired");
                $(function () {
                    var template = $("#handlebarTemplate").html();
                    var sourceHtml = Handlebars.compile(template);

                    


                    $("#handlebar").html(sourceHtml(data));
                });
                //$("#handlebar").template(sourceHtml);
                console.log(pageNo);

            },
            error: function () {
                alert("Error occured!");
            }
        });
    };

</script>

<div id="handlebar">

</div>
<style>
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 0 4px;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<div class="pagination">
    @*<button onclick="ajaxCall()">Previous</button>
        <button onclick="ajaxCall(1)">1</button>
        <button onclick="ajaxCall(2)">2</button>
        <button onclick="ajaxCall(3)">Next</button>*@
    <a onclick="ajaxCall()">&laquo;</a>
    <a onclick="ajaxCall(1)">1</a>
    <a onclick="ajaxCall(2)">2</a>
    <a onclick="ajaxCall(3)"> 3</a>
    <a onclick="ajaxCall(4)">4</a>
    <a onclick="ajaxCall(5)">5</a>
    <a onclick="ajaxCall(6)">6</a>
    <a onclick="ajaxCall()">&raquo;</a>
</div>