@{
    ViewBag.Title = "LinqIndex";
}

<h2>Linq Index</h2>
<script type="text/x-handlebars-template" id="handlebarTemplate">
    <table class="table table-bordered">
        <thead class="LinqThead" id="LinqThead">
            <tr>
                <td>Employee Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Age</td>
                <td>Salary</td>
            </tr>
        </thead>

        {{#EmployeeInfo}}
        <tbody>
            <tr>
                <td>{{EmployeeId}}</td>
                <td>{{Name}}</td>
                <td>{{Email}}</td>
                <td>{{Age}}</td>
                <td>{{Salary}}</td>
            </tr>
        </tbody>
        {{/EmployeeInfo}}
    </table>

    <div class="pagination">
        @for (int i = 1; i <= 6; i++)
        {
            //6 will be value of totalPage from ajax call 1
            <a onclick="ajaxPageCall(@i)">@i</a>
        }

    </div>
</script>

<script type="text/javascript">
    var requestData = {
        numberOfData: $('numberOfData').val(),
        fetchedDataCount: $('fetchedDataCount').val(),
        EmployeeId: $('EmployeeId').val(),
        Name: $('Name').val(),
        Email: $('Email').val(),
        Age: $('Age').val(),
        Salary: $('Salary').val()
    };
    $(function () {
        $.ajax({
            url: '/Linq/LinqJson',
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("AJAX Call 1");
                console.log("DOM loaded");
                console.log(data.numData);
                var totalPage = parseInt((data.fetchedData / data.numData)+1);
                console.log(totalPage);
                var template = $("#handlebarTemplate").html();
                var sourceHtml = Handlebars.compile(template);
                $("#handlebar").html(sourceHtml(data));
            },
            error: function () {
                alert("Error occured!");
            }
        });
    });
    
    var ajaxPageCall = function (pageNo) {
        $.ajax({
            url: '/Linq/LinqJson?pageNo=' + pageNo,
            type: 'POST',
            data: JSON.stringify(requestData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                console.log("AJAX Call 2");
                var template = $("#handlebarTemplate").html();
                var sourceHtml = Handlebars.compile(template);
                $("#handlebar").html(sourceHtml(data));
            },
            error: function () {
                alert("Error occured!");
            }
        });
    };
    $.notify("LinQ Successful", "success");
</script>
<style>
    #LinqThead.LinqThead {
        background: black;
        color: white;
        text-align: center;
    }

    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 0 4px;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<div id="handlebar">

</div>
